.alert {
	animation: add-alert 0.35s ease-out backwards;
	max-width: 45rem;
	background-color: #EDEDED;
	color: var(--darkgrey);
	font-family: monospace;
	text-align: center;
	padding: 1.25rem;
	margin: 1.25rem auto;
	box-shadow: 0 3px 50px rgba(255, 255, 255, 0.3);

	&.success {
		/* Emma's seafoam green. */
		background-color: #48C9B0;
		color: var(--offwhite);
	}

	&.failure {
		background-color: #DB4A30;
		color: var(--offwhite);
	}

	&.remove {
		animation: remove-alert 0.35s ease-in forwards;
	}

	p {
		margin: 0;
	}
}

@keyframes add-alert {
	from {
		transform: scale(0.2);
	opacity: 0;
	}
	to {
		transform: scale(1);
		opacity: 1;
	}
}

@keyframes remove-alert {
	from {
		z-index: -1;
	}
	to {
		transform: translateY(-125vh);
		opacity: 0;
	}
}